<div class="row">
    <!-- Count item widget-->
    <div class="col-6 col-md-3">
        <div class="wrapper count-title d-flex">
            <div class="icon">
                <i class="icon-user"></i>
            </div>
            <div class="name">
                <strong class="text-uppercase">Số sản phẩm</strong>
                <div class="count-number">{{countProduct}}</div>
            </div>
        </div>
    </div>
    <!-- Count item widget-->
    <div class="col-6 col-md-3">
        <div class="wrapper count-title d-flex">
            <div class="icon">
                <i class="icon-padnote"></i>
            </div>
            <div class="name">
                <strong class="text-uppercase">Số thương hiệu</strong>
                <div class="count-number">{{countBrand}}</div>
            </div>
        </div>
    </div>
    <!-- Count item widget-->
    <div class="col-6 col-md-3">
        <div class="wrapper count-title d-flex">
            <div class="icon">
                <i class="icon-check"></i>
            </div>
            <div class="name">
                <strong class="text-uppercase">Loại sản phẩm</strong>
                <div class="count-number">{{countCategory}}</div>
            </div>
        </div>
    </div>
    <!-- Count item widget-->
    <div class="col-6 col-md-3">
        <div class="wrapper count-title d-flex">
            <div class="icon">
                <i class="icon-bill"></i>
            </div>
            <div class="name">
                <strong class="text-uppercase">Số đơn hàng</strong>
                <div class="count-number">123</div>
            </div>
        </div>
    </div>
</div>