
.LoginTK {
    text-align:  center;
    font-size: 47px;
    font-weight:  bold;
}

h5.noiquyDK {
    padding: 10px 0px 20px 112px;
}
button.btn.btn-warning.col-md-offset-4.col-md-8.login {
    width: 313px;
    margin-left: 80px;
}

.MangXaHoi {
    width: 314px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 65px;
}

.motaDN {
    font-size: 19px;
    font-family: monospace;
}

.NotAccount{
    margin-left: 100px;
}

.NotAccount a {
    text-decoration: none;
}