*{
	margin:0px;
	padding:0px;
}



.taotaikhoan {
    text-align:  center;
    font-size: 47px;
    font-weight:  bold;
}

h5.noiquyDK {
    padding: 10px 0px 20px 112px;
}

button.btn.btn-warning {
    margin-left: 80px;
}


button.btn {
    width: 314px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 65px;
}

.mota {
    font-size: 19px;
    font-family: monospace;
}
