*{
    margin:0px;
    padding:0px;
}

.taotaikhoan {
    text-align:  center;
    font-size:  40px;
    font-weight:  bold;
    margin-top: -70px;
}
}

h5.noiquyDK {
    padding: 10px 0px 20px 112px;
    font-size: 15px;
}

#btn-signup {
    padding: 10px 34px;
    width: 315px;
    background: #a3b322bf;
    color: black;
    font-weight: bold;
    font-size: 18px;
}


.Dacotk {
    margin-left: 103px;
    font-size: 13px;
}

button.btn {
    width: 314px;
    padding: 10px;
    margin-top: 10px;
}


button#btn-signup {
    width: 170px;
    margin-left: 102px;
}

.mota {
    font-size: 19px;
    font-family: monospace;
}

