<form action="" method="POST" role="form">
	<div class="form-group">
		<input type="hidden" id="" name="BrandID" value="{{BrandID}}">	
		<button type="submit" class="btn btn-danger">
			<i class="fa fa-times" aria-hidden="true"></i>
			Delete
		</button>
	</div>	
</form>